<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==' crossorigin='anonymous'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css' integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    
    <div id="app">
        <div id="web-app">
            <div id="window" class="d-flex">
                <div class="left-column col-4">
                    <div class="header">
                        <div id="myProfile">
                            <figure class="profilePic">
                                <img src="./assets/img/avatar_8.jpg" alt="userPic">
                            </figure>
                            <span>
                                Alessandro
                            </span>
                        </div>
                        <div class="funcions">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div id="notifAlert">
                        <div>

                            <figure class="profilePic">
                                <i class="fa-solid fa-bell-slash"></i>
                            </figure>
                        </div>
                        <div>
                            <small>Ricevi notifiche di nuovi messaggi</small>
                            <br>
                            <small><a href="#">Attiva notifiche desktop</a></small>
                        </div>
                    </div>
                    <div id="search">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="text" id="searchBar" class="form-control" placeholder="Cerca una conversazione...">
                          </div>
                    </div>
                    <div id="chats">
                        <div class="d-flex chat" v-for="(chat, index) in contacts" :class="activechat == index ? 'active' : '' " @click="setChat(index)">
                            <figure class="profilePic me-3">
                                <img :src="chat.avatar" :alt="chat.name">
                            </figure>
                            <div>
                                <span> {{chat.name}} </span>
                                <p class="last-message">{{chat.messages[(chat.messages.length)-1].message}}</p>
                                <span class="hour">{{getHour(chat.messages[(chat.messages.length)-1].date)}}</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-column col-8">
                    <div class="header">
                        <div>
                            <figure class="profilePic">
                                <img :src="contacts[activechat].avatar" :alt="contacts[activechat].name">
                            </figure>
                            <div>
                                <span> {{contacts[activechat].name}} </span>
                                <br>
                                <span id="last-login"> Ultimo accesso {{contacts[activechat].messages[(contacts[activechat].messages.length)-1].date}}</span>
                            </div>
                        </div>
                        <div class="funcions">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </div>
                    <div id="extendedChat">
                        <div v-for="(message,index) in contacts[activechat].messages" :class="message.status" class="message">
                            <p> {{message.message}} </p>
                            <span class="hour">{{getHour(message.date)}}</span>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>




    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>