*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

img{
    height: 100%;
}

figure{
    margin: 0;
    overflow: hidden;
}

p{
    margin-bottom: 0;
}

#web-app{
    background: rgb(0,150,135);
    background: linear-gradient(180deg, rgba(0,150,135,1) 10%, rgba(0,150,135,1) 10%, rgba(0,212,255,1) 10%, rgba(215,215,210,1) 10%, rgba(182,182,180,1) 100%);

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#window{
    background: #e6e6e6;
    width: 80%;
    height: 95%;
}

.left-column{
    height: 100%;
    border-right: 2px solid #ffeeee;
}

.right-column{
    height: 100%;
}

#myProfile{
    display: flex;
    align-items: center;
}

.header{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>div,
#notifAlert{
    height: 75px;
    padding: 15px;
    gap: 20px;
    display: flex;
    align-items: center;
}

.header .fa-solid{
    color: #afafaf;
    font-size: 20px;
}

.profilePic{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

#notifAlert{
    background: #8CD7FA;
}

#notifAlert a{
    color: grey;
}

#notifAlert .profilePic{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #8CD7FA;
    opacity: 0.7;
}

#search{
    padding: 5px;
}

.input-group-text{
    color: #afafaf;
    padding-inline: 30px;
    background-color: white;
}

.input-group-text,
.form-control{
    border-radius: 0;
}

#chats{
    background-color: white;
    height: calc(100% - 198px);
    overflow: auto;
}

.chat{
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    height: 95px;
    position: relative;
    cursor: pointer;
}

.chat.active{
    background: #e6ebeb;
}

.last-message,
#last-login{
    color: grey;
}

.chat .hour{
    position: absolute;
    top: 15px;
    right: 20px;
}
 
/* ANCHOR chat principale */

/* .right-column .header{
    display: flex;
    align-items: center;
    padding: 7.5px;
    gap: 10px;
} */

#extendedChat{
    background-image: url("../img/mine.jpg");
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    padding: 15px;
}

#extendedChat>.message{
    padding: 15px 25px 15px 20px;
    max-width: 40%;
    border-radius: 10px;
    position: relative;
}

.received{
    background-color: white;
    align-self: flex-start;
}

.sent{
    background-color: #d2f5b9;
    align-self: flex-end;
}

.message .hour{
    position: absolute;
    font-size: 10px;
    bottom: 3px;
    right: 5px;
    color: gray;
}

.message .options{
    position: absolute;
    font-size: 14px;
    top: 5px;
    right: 7px;
    opacity: 0;
    cursor: pointer;
    white-space: nowrap;
}

.message:hover .options{
    opacity: 1;
    transition: 0.3s;
}

#new-message{
    height: 75px;
}

#new-message .fa-solid,
#new-message .fa-regular{
    font-size: 22px;
}
